<div class="container-fluid mt-5">
  <div class="row">

    <div class="col-3"></div>

    <div class="col centered form">
  		<%if(current_user.id == @booking.user.id)%>
        <h2>Booking Details</h2>

        <div class="row mt-2">
          <div class="col">
            <h6>
              <span class="font-weight-bold">Listing: </span><br/>
              <%=@booking.listing.name%>
          </h6>
          </div>

          <div class="col">
            <h6>
              <span class="font-weight-bold">From:</span><br/>
              <%=@booking.start_date.to_date%>
          </h6>
          </div>

          <div class="col">
            <h6>
              <span class="font-weight-bold">To:</span><br/>
              <%=@booking.end_date.to_date%>
          </h6>
          </div>

          <div class="col">
            <h6>
              <span class="font-weight-bold">Total Price ($):</span><br/>
              <%=@booking.c_t_p%>
          </h6>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-12">
      			<div class="demo-frame">

      				<%= form_for :checkout_form, url: braintree_checkout_path, html: { id: "cardForm"} do |form| %>
      					<%= form.hidden_field :booking_id, value: @booking.id%>

      					<div class="input-group mb-2">
                  <div class="input-group-prepend" data-toggle="tooltip" data-placement="left" title="Credit Card Number">
                    <div class="input-group-text">
                      <i class="far fa-credit-card fa-xs"></i>
                    </div>
                  </div>
      					   <div id="card-number" class="hosted-field form-control"></div>
                </div>

      					<div class="input-group mb-2">
                  <div class="input-group-prepend" data-toggle="tooltip" data-placement="left" title="Expiry Date">
                    <div class="input-group-text">
                      <i class="fas fa-calendar-alt"></i>
                    </div>
                  </div>
      					   <div id="expiration-date" class="hosted-field form-control"></div>
                </div>

      					<div class="input-group mb-2">
                  <div class="input-group-prepend" data-toggle="tooltip" data-placement="left" title="CVV Code. This is the 3 digit number at the back of your card.">
                    <div class="input-group-text">
                      <i class="fas fa-unlock-alt"></i>
                    </div>
                  </div>
      					   <div id="cvv" class="hosted-field form-control"></div>
                </div>

      					<%= form.hidden_field "payment_method_nonce" %>

      					<div class="button-container">
      					<%= form.submit "Purchase", disabled: true, class: "btn btn-success w-100", id: "submit-payment-btn" %>
      					</div>

      				<% end %>
      			</div>
    		<%else%>
    			

    		<%end%>
      </div>
      </div>
  	</div>
    <div class="col-3"></div>
  </div>
</div>


<!-- Load the Client component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

<!-- Load the Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>

<script>
  var form = document.querySelector('#cardForm');
var submit = document.querySelector("#submit-payment-btn");
var authorization = '<%= @client_token %>';

braintree.client.create({
  // Replace this with your own authorization.
  authorization: authorization
}, function (clientErr, clientInstance) {
  if (clientErr) {
    // Handle error in client creation
    return;
  }

  braintree.hostedFields.create({
    client: clientInstance,
    styles: {
      'input': {
        'font-size': '14pt'
      },
      'input.invalid': {
        'color': 'red'
      },
      'input.valid': {
        'color': 'green'
      }
    },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '4111 1111 1111 1111'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '123'
      },
      expirationDate: {
        selector: '#expiration-date',
        placeholder: '10/2019'
      }
    }
  }, function (hostedFieldsErr, hostedFieldsInstance) {
    if (hostedFieldsErr) {
      // Handle error in Hosted Fields creation
      return;
    }

    submit.removeAttribute('disabled');

    form.addEventListener('submit', function (event) {
      event.preventDefault();

      hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
        if (tokenizeErr) {
          // Handle error in Hosted Fields tokenization
          return;
        }

        // Put `payload.nonce` into the `payment_method_nonce` input, and then
        // submit the form. Alternatively, you could send the nonce to your server
        // with AJAX.
        document.querySelector('input[name="checkout_form[payment_method_nonce]"]').value = payload.nonce;
        form.submit();
      });
    }, false);
  });
});
</script>