<%= form_with(model: listing, local: true) do |f| %>
  <div>
    Listing Name (min. 10 chars)<br/>
    <%=f.text_field :name, :size => 75%>
  </div> <br/>
  
  <div style="margin-bottom: 2em">
    Enter up to 3 tags for your listing (10 characters max per tag): <br/>

    <% 3.times do |index| %>
      <div class="row-buddies">
        <%=f.text_field :"tags[tag#{index}]", :size => 10, :value => (listing.tags[index]!=nil)? listing.tags[index].text : ""%>
      </div>    
    <% end %>

    
  </div>

  <div>
    Property Type <br/>
    <%=f.select :property_type, Listing::PROPERTY_TYPES%>
  </div>  <br/>

  <div>
    Street Address <br/>
    <%=f.text_field :address, :size => 40%>
  </div>  <br/>

  <div>
    City <br/>
    <%=f.text_field :city%>
  </div>  <br/>

  <div>
    Country <br/>
    <%=f.select :country, ApplicationRecord::COUNTRIES%>
  </div>  <br/>

  <div>
    Price <br/>
    <%=f.text_field :price, :size => 5%> <span class="listing-form-unhighlighted">USD per night</span>
  </div>  <br/>

  <div>
    Capacity <br/>
    <%=f.text_field :capacity, :size => 3%> <span class="listing-form-unhighlighted">pax</span>
  </div>  <br/>

  <div>
    Description <br/>
    <%=f.text_area :description, :rows => 4, :cols => 75%>
  </div>  <br/>

  <div>
    Number of bedrooms <br/>
    <%=f.text_field :n_bedrooms, :size => 2%>
  </div>  <br/>  

  <div>
    Number of bathrooms <br/>
    <%=f.text_field :n_bathrooms, :size => 2%>
  </div>  <br/>

  <hr />
  <div style="margin: 1em 0em 1em 0em">
    <table style="width: 100%">
      <tr>
        <td><%=f.label :essentials%><%="#{Listing::AMENITIES[:essentials]}"%> <%=f.check_box :has_essentials%></td>
        
        <td><%=f.label :airconditioner%><%="#{Listing::AMENITIES[:airconditioner]}"%> <%=f.check_box :has_airconditioner%></td>
        
        <td><%=f.label :washer_dryer%><%="#{Listing::AMENITIES[:washer_dryer]}"%> <%=f.check_box :has_washer_dryer%></td>
        
        <td><%=f.label :television%><%="#{Listing::AMENITIES[:television]}"%> <%=f.check_box :has_television%></td>
        
        <td><%=f.label :fireplace%><%="#{Listing::AMENITIES[:fireplace]}"%> <%=f.check_box :has_fireplace%></td>
        
      </tr>
      <tr>
        <td><%=f.label :wifi%><%="#{Listing::AMENITIES[:wifi]}"%> <%=f.check_box :has_wifi%></td>
        
        <td><%=f.label :hot_water%><%="#{Listing::AMENITIES[:hot_water]}"%> <%=f.check_box :has_hot_water%></td>
        
        <td><%=f.label :kitchen%><%="#{Listing::AMENITIES[:kitchen]}"%> <%=f.check_box :has_kitchen%></td>
        
        <td><%=f.label :heating%><%="#{Listing::AMENITIES[:heating]}"%> <%=f.check_box :has_heating%></td>
        
        <td><%=f.label :living_room%><%="#{Listing::AMENITIES[:living_room]}"%> <%=f.check_box :has_living_room%></td>
        
      </tr>
    </table>
  </div>
  <hr />

  <div>
    Upload photos (max 8 per listing)<br/>
    <%=f.file_field :photos, multiple: true %>
  </div> <br/>

  <% if (listing.listing_photos.length != 0)%>
    <div>
      Select photos for deletion <br/> <br />

      <%listing.listing_photos.each do |listing_photo| %>
        <%= image_tag listing_photo.photo.thumb.url, class: "listing-photo-deletion-icon" %>
        <%= f.check_box "delete_images[#{listing_photo.id}]", {:style => "position: relative; right: 1em; bottom: 4.5em"}, true, false %>
      <% end %>

    </div>
  <% end %>

  <hr />
  <%= link_to "Back to Profile", user_path(current_user.id) %>
  <%=f.submit "Submit!", :style => "float:right"%>

<% end %>
