<div class="listing-listing-box row-buddies">
	<h2 class="listing-box-header">
		<%= link_to listing.name, listing_path(listing.id), :class => "listing-box-header"%>
	</h2>
	<p class="italic"><%="#{listing.city}, #{listing.country}"%></p>
	<p class="italic"><%=listing.property_type%></p>
	<hr />
	<p><%=listing.description.truncate(28)%></p>
	<hr />

	<div style="text-align: center">
		<span style="float: left"><%="#{Listing::SYMBOLS[:rating_star]}#{listing.rating}"%></span>
		<span><%="#{Listing::SYMBOLS[:capacity]}#{listing.capacity}"%></span>
		<span style="float: right"><%="#{Listing::SYMBOLS[:price_icon]}#{listing.price}"%></span>
	</div>

</div>