<div id="listing-banner">
	<div class="row-buddies" id="listing-stats-box">
		<h1 id="listing-name"><%=@listing.name_with_verification%></h1>
		<ul class="no-bullets centered">
			<li class="italic"><%="#{@listing.city}, #{@listing.country}"%></li>
			<li>(<%=@listing.property_type%>)</li>
			<li><%=@listing.symbolize_rating%></li>
			<li><%=@listing.symbolize_capacity%></li>
		</ul>

		<br />

		<% if (signed_in?) %>
			<% if (current_user.id == @listing.user.id) || (current_user.superadmin?)%>
				<h2 class="centered">Control Panel</h2>
				<ul class="no-bullets centered">
					<li><%= link_to "Edit Listing", "/listings/#{@listing.id}/edit", :method => "GET"%></li>
					<li><%= link_to "Delete Listing", "/listings/#{@listing.id}", :method => "DELETE"%></li>
				</ul>
			<%end%>

			<% if (current_user.moderator? || current_user.superadmin?)%>
				<h2 class="centered">Elevated Control Panel</h2>
				<ul class="no-bullets centered">
					<li><%= link_to "Verify Listing", verify_listing_path, :method => "PUT"%></li>
				</ul>
			<%end%>
		<% end %>
	</div>

	<div class="row-buddies" id="listing-main-img-container">
		<% if(@random_main_image != nil) %>
			<%= image_tag @random_main_image.photo.full.url, id: "listing-main-img"%>
		<% end %>
		</div>
</div>

<div id="listing-detail-container">

	<div id="listing-logo-description-container">
		<div class="row-buddies" id="listing-user-logo-container">
			<% if(@listing.user.avatar != nil) %>
				<%= image_tag @listing.user.avatar.avatar_image.profile_size.url, id: "listing-user-logo"%>
			<% else %>
				<%= image_tag "question-mark.jpg", id: "listing-user-logo"%>
			<% end %>

			<br />
			<h3><%= link_to @listing.user.full_name, user_path(@listing.user)%></h3>
			<p>Average rating: <%=@listing.user.average_rating%>/5</p>
		</div>


		<div class="row-buddies" id="listing-description"><%=@listing.description%></div>
	</div>


	<div id="listing-images-container">
		<%if @listing_images != nil %>
			<%@listing_images.each do |listing_image|%>
				<%= image_tag listing_image.photo.thumb.url, class: "listing-image-small row-buddies"%>
			<% end %>
		<% end %>
	</div>
	
	<hr>
	<br />
	<h2>More from <%=@listing.user.full_name%></h2>
	<br />


	<% if @listing.user.listings.length > 1 %>

		<%@listing.user.listings.order(:name).each do |listing| %>
			
			<% if listing.id != @listing.id %>
				<%= render partial: "listing_card_listing", locals: {listing: listing} %>
			<% end %>

		<% end %>

	<% else %>
		<h2>User has no other listings!</h2>
	<% end %>
</div>
