<div id="listing-main-img-and-stats">
	<div id="listing-banner" class="row-buddies">
		<div id="listing-stats-box">
			<h1 id="listing-name"><%=@listing.name_with_verification%></h1>
			<ul class="no-bullets centered">
				<li class="italic"><%="#{@listing.city}, #{@listing.country}"%></li>
				<li>(<%=@listing.property_type%>)</li>
				<li><%=@listing.symbolize_rating%></li>
				<li><%=@listing.symbolize_capacity%></li>
				<li><%=@listing.amenity_string%></li>
				<li><%=@listing.smoking_badge%></li>
				<li id="listing-price-tag"><%="$ #{@listing.price} nightly"%></li>
			</ul>

			<br />

			<% if (signed_in?) %>

				<% if (current_user.id == @listing.user.id) || (current_user.superadmin?)%>
					<h2 class="centered">Control Panel</h2>
					<ul class="no-bullets centered">
						<li><%= link_to "Edit Listing", "/listings/#{@listing.id}/edit", :method => "GET"%></li>
						<li><%= link_to "Delete Listing", "/listings/#{@listing.id}", :method => "DELETE"%></li>
					</ul>
				<%end%>

				<% if (current_user.moderator? || current_user.superadmin?)%>
					<h2 class="centered">Elevated Control Panel</h2>
					<ul class="no-bullets centered">
						<li><%= link_to "Verify Listing", verify_listing_path, :method => "PUT"%></li>
					</ul>
				<%end%>
			<% end %>
		</div>

		<div id="listing-logo-description-container">
			<div class="row-buddies" id="listing-user-logo-container">
				<% if(@listing.user.avatar != nil) %>
					<%= image_tag @listing.user.avatar.avatar_image.profile_size.url, id: "listing-user-logo"%>
				<% else %>
					<%= image_tag "question-mark.jpg", id: "listing-user-logo"%>
				<% end %>

				<br />
				<h3><%= link_to @listing.user.full_name, user_path(@listing.user)%></h3>
				<p>Average rating: <%=@listing.user.average_rating%>/5</p>
			</div>
		</div>

	</div>

	<div class="row-buddies" id="listing-main-img-container">
		<% if(@random_main_image != nil) %>
			<%= image_tag @random_main_image.photo.full.url, id: "listing-main-img"%>
		<% end %>
	</div>



</div>
<div id="listing-detail-container">

	<div id="listing-images-container">
		<%if @listing_images != nil %>
			<%@listing_images.each_with_index do |listing_image, index|%>
				<img class="row-buddies listing-image-small" src="<%=listing_image.photo.full.url%>" onclick="smallImageClicked()"/>
			<% end %>
		<% end %>
	</div>

	<div class="centered tags-container italic">
		<%=@listing.tagline%>
	</div>
	<div>
		<%=@listing.amenity_write%>
	</div>
	<div id="listing-description"><%=@listing.description%></div>


	
	<a href="<%=@booking_button_href%>" style="text-decoration: none;">
		<div class="centered" id="book-now-button">
			<%=@booking_button_text%>
		</div>
	</a>
</div>




<div class="centered">
	<br />
		<h2>More from <%=@listing.user.full_name%></h2>
	<br />

	<% if @listing.user.listings.length > 1 %>

		<%@listing.user.listings.order(:name)[0..4].each do |listing| %>
			
			<% if listing.id != @listing.id %>
				<%= render partial: "listing_card_listing", locals: {listing: listing} %>
			<% end %>

		<% end %>
		<br /> <br />
		<%= link_to "Go to profile >>", user_path(@listing.user.id) %>
		<br /> <br />

	<% else %>
		<h2>User has no other listings!</h2>
	<% end %>
</div>

<hr />

<div class="centered">
	<br />
		<h2>Related Listings</h2>
	<br />

	<% if(@related_listings.length != 0) %>
		<% @related_listings.each do |listing| %>
			<%= render partial: "listing_card_listing", locals: {listing: listing} %>
		<% end %>
		
	<% else %>
		<h2 style="padding: 1em">Nothing here!</h2>
	<% end %>

</div>



<script>
	function smallImageClicked()	{
		mainImage = document.getElementById("listing-main-img")
		imageClicked = event.target

		function swapImages(main, clicked)	{
			main_src = main.src
			clicked_src = clicked.src

			mainImage.src = clicked_src
			imageClicked.src = main_src
		}

		swapImages(mainImage, imageClicked)
	}
</script>