<div class="container centered w-50 mt-5 booking-form-container">

	<%if((signed_in?) && (current_user.id == @booking.user.id)) %>	
		<h2><%="#{current_user.full_name}'s booking for #{@booking.listing.name}"%></h2>
		<hr/>

		<ul class="no-bullets" style="font-size: 20pt; line-height: 2em">
			<li><%="From: #{@booking.start_date.to_date} to #{@booking.end_date.to_date}"%></li>
			<li>(<%=@booking.days_of_booking%> days)</li>
			<li>$<%=@booking.price%></li>
		</ul>
	<% else %>
		<h2> You do not own this booking and have no permission to access this </h2>
	<% end %>

	<%if(@booking.is_paid)%>
		<h6 class="PAID"><%=@booking.payment_status%></h6>
	<% else %>
		<%= link_to "Pay Now", payments_path(@booking.id), :class => "btn btn-success mb-2"%>
	<% end %>
	<br />
	<%= link_to "Back to #{@booking.listing.name}", listing_path(@booking.listing.id), :class => "btn btn-secondary" %>
</div>