<div class="profile-listing-box">
	<h2 class="listing-box-header">
		<%= link_to booking.user.full_name, user_path(booking.user.id)%> booked <%= link_to booking.listing.name, listing_path(booking.listing.id)%>, from <span class="underlined"><%=booking.start_date.to_date%></span> to <span class="underlined"><%=booking.end_date.to_date%></span>

		<span class="<%=booking.payment_status%>" style="float:right"><%=booking.payment_status%></span>
	</h2>
</div>