<div id="clearance" class="sign-up centered clearance-box">
  <h2><%= t(".title") %></h2>
  <hr />

  <%= form_for :user, url: users_path do |f| %>
    <div>
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name %>

      <%= f.label :email, "Email Address" %>
      <%= f.text_field :email %>

      <%= f.label :password, "Password" %>
      <%= f.password_field :password %>

      <%= f.label :avatar_image%>
      <%= f.file_field :avatar_image %>
    </div>

    <br /><%= f.submit "Submit"%>
  <% end %>


    <hr />

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
</div>