<div class="centered">

	<h1><%=@user.full_name%></h1>

	<%if (@user.avatar == nil) %>
		<%= image_tag "question-mark.jpg", class: "profile-page-avatar"%>
	<% else %>
		<%= image_tag @user.avatar.avatar_image.profile_size.url, class: "profile-page-avatar"%>
	<% end %>


	<br />
	<%="Member since #{@user.created_at.to_date}"%>
</div> <br /> <br />

<div class="centered">
	<%if(signed_in? && current_user.id != @user.id)%>
		<%= link_to "Chat!", chatroom_path(@user.id), class: "btn btn-success" %>
	<%end%>
</div>

<hr />
<table class="profile-details">
	<tr>
		<td class="profile-details-left">

			<%=show_role%>

			<%if signed_in? %>
				<%if current_user.moderator? || current_user.superadmin? %>
					<div class="moderator-profile-controls">
						<h2 class="underlined">Moderator Controls</h2>
						<ul class="no-bullets">
							<li>
								Add moderator commands for a user here
							</li>
						</ul>
					</div>
				<% end %>


				<%if (current_user_is(@user) || current_user.superadmin?) && (!current_user.moderator?) %>
					<h2 class="underlined">Controls</h2>
					<ul class="no-bullets">
						<li>
							<%= link_to "Add a Listing", new_listing_path%>
						</li>

						<li>
							<%= link_to "View my Bookings", bookings_path(@user.id) %>
						</li>

						<li>
							<%= link_to "View my Guests", guests_path(@user.id) %>
						</li>

						<li>
							<%= link_to "Edit my Profile", edit_user_path(@user.id) %>
						</li>

						<li>
							<%= link_to "Delete my Profile", "/users/#{@user.id}", :method => "DELETE"%>
						</li>
					</ul>
				<% else %>

				<% end %>
			<% end %>

			<h2 class="underlined">About</h2>
			<ul class="no-bullets">
				<li><%="Average Rating: #{@user.average_rating}/5"%></li>
				<li><%="Listings: #{@user.listings.length}"%></li>
			</ul>

		</td>
		<td>
			<%= render partial: "/listings/listing_card_profile", locals: {listings: @user.listings}%>
		</td>
	</tr>
</table>