<!--Hiding scrollbar for just this page-->
<style type="text/css">body{overflow: hidden}</style>

<div class="container-fluid" id="welcome">
	
	<div class="row no-gutters p-5 mx-auto">

		<div class="d-none d-xl-block col-8 p-4" id="random-listing-display">
			<h1>
				Random Listing: <%= link_to @featured_listing.name_with_verification_right, listing_path(@featured_listing)%>
				<span class="smoking"><%=@featured_listing.smoking_badge%></span>
			</h1>

			<h2>From <%= link_to @featured_listing.user.full_name, user_path(@featured_listing.user)%></h2>

			<ul id="random-listing-tags">
				<%@featured_listing.tags.each do |tag|%>
					<li><%=tag.text%> &nbsp;</li>
				<%end%>
			</ul>
			
			<div id="random-listing-stats">
				<%=@featured_listing.amenity_string%><br/>
				<div class="rating"><%=@featured_listing.symbolize_rating%></div>
				<%=@featured_listing.symbolize_capacity%>
			</div>
		
			<p>
				<br/>
				<%=@featured_listing.description.truncate(300)%>
			</p>
		</div>

		<div class="col p-4" id="search-form-box">
			<%=form_for :search, url: search_show_path, method: "GET" do |f|%>
				
				<div class="input-group mt-2">
					<div class="input-group-prepend" data-toggle="tooltip" title="Listing Type" data-placement="left">
						<span class="input-group-text"><i class="fas fa-building"></i></span>
					</div>
						<%=f.select :property_type, Listing::PROPERTY_TYPES, {}, {:class => "form-control"}%>
				</div>

				<div class="input-group mt-2">
					<div class="input-group-prepend" data-toggle="tooltip" title="Country" data-placement="left">
						<div class="input-group-text"><i class="fas fa-globe"></i></div>
					</div>
					<%=f.select :country, ApplicationRecord::COUNTRIES, {}, {:class => "form-control w-75"}%>
				</div>

				<div class="row">
					<div class="col-4">
						<div class="input-group mt-2">
							<div class="input-group-prepend" data-toggle="tooltip" title="Price per Night ($)" data-placement="top">
								<div class="input-group-text"><i class="fas fa-money-bill"></i></div>
							</div>
							<%=f.text_field :max_price, :size => 4, :class => "form-control"%>		
						</div>
					</div>
					<div class="col-4">
						<div class="input-group mt-2">
							<div class="input-group-prepend" data-toggle="tooltip" title="Bathrooms" data-placement="top">
								<div class="input-group-text"><i class="fas fa-toilet-paper"></i></div>
							</div>
							<%=f.text_field :n_bathrooms, :size => 4, :class => "form-control"%>
						</div>
					</div>
					<div class="col-4">
						<div class="input-group mt-2">
							<div class="input-group-prepend" data-toggle="tooltip" title="Bedrooms" data-placement="top">
								<div class="input-group-text"><i class="fas fa-bed"></i></div>
							</div>
							<%=f.text_field :n_bedrooms, :size => 4, :class => "form-control"%>
						</div>
					</div>
				</div>

		<!-- AMENITITES WORK -->
				<div class="row my-4">
					<% i = 0 %>
					<% Listing::AMENITIES.each do |key, value|%>
						<div class="col-2 my-2">
							<%=f.check_box "has_#{key}".to_sym, :id => i, :class => "hidden-checkbox"%>
							<label for="<%=i%>" class="label-for-check" data-toggle="tooltip" title="<%="#{key.to_s.capitalize.split("_").join(" ")}"%>" data-placement="top">
								<%=Listing.display_fa_icon(key)%>
							</label>
						</div>

						<% i += 1 %>
					<% end %>
				</div>
			
		<!-- END AMENITIES WORK -->

				<%=f.check_box :smoking_allowed, :class => "hidden-checkbox", :id => "smoking_allowed"%>
				<label for="smoking_allowed" class="label-for-check-smoking" data-toggle="tooltip" title="Allowed to Smoke?" data-placement="top">
					<span class="text-white">Smoking </span><i class="fas fa-smoking"></i><span class="text-white"> Allowed</span>
				</label>
				<div class="input-group mt-2">
					<%=f.submit "Find My NEXT Home", :class => "btn btn-primary w-100"%>
				</div>

					
			<% end %>

			<hr />
			
			<div class="centered">
				<form action='/search/text_search' method="GET">
					<div class="input-group">
						<input type="text" list="list" id="text-search" name="text_search[keywords]" class="form-control" placeholder="Enter keywords..." />

						<span class="btn-group input-group-append" role="group" aria-label="Search Buttons">
							<button type="submit" class="btn btn-primary">
								<i class="fas fa-search"></i>
							</button>
							<button type="reset" class="btn">
								<i class="fas fa-eraser"></i>
							</button>
						</span>
					</div>
					<datalist id="list"></datalist>
				</form>

			</div>
		</div>
	</div>	
</div>

<!--Activating all tooltips-->
<script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip(); 
	});
</script>

<!-- AJAX SHIT -->
<script>
		let search_box = document.getElementById("text-search")

		if(search_box)	{search_box.addEventListener("keyup", function(event) 	{autocomplete(event)})}


		function autocomplete(event)	{
			let xhttp = new XMLHttpRequest()
			let input = event.target
			let list = document.getElementById("list")

			if(input.value.length > 0)	{
				xhttp.abort()

				xhttp.onreadystatechange = function()	{
					if (this.readyState == 4 && this.status == 200)	{
						let response = JSON.parse(this.responseText)
						// console.log(this.responseText[0])

						list.innerHTML = ""

						response.forEach(function(element)	{
							let option = document.createElement("option")
							option.value = element["name"]
							option.innerHTML = element["city"]

							list.appendChild(option)
						})

					}
				}

			    let auth_token = document.querySelector("[name='csrf-token']").content
			    xhttp.open("GET", "/search/text_search_ajax?text_search[keywords]=" + input.value, true)
			    xhttp.send()
			}
		}
</script>