<br/>
						<table id="search-form">

							<tr>
								<td>
								Looking for a
								</td>
								<td><%=f.select :property_type, Listing::PROPERTY_TYPES%></td>

							</tr>

							<tr>
								<td>in</td>
								<td><%=f.select :country, ApplicationRecord::COUNTRIES%></td>

							</tr>

							<tr>
								<td>at most $</td>
								<td><%=f.text_field :max_price, :size => 4 %> a night</td>
							</tr>

						 	<tr>
						 		<td>with</td>
						 		<td><%=f.text_field :n_bedrooms, :size => 1%> bedroom(s)</td>
						 	</tr>

						 	<tr>
						 		<td>and</td>
						 		<td><%=f.text_field :n_bathrooms, :size => 1%> bathroom(s)</td>
						 	</tr>

						 	<tr>
						 		<td>Smoking?</td>
						 		<td><%=f.check_box :smoking_allowed%></td>
						 	</tr>

						 	<tr>
						 		<td colspan=2 style="text-align: left;">With the following amenities being a must:</td>
						 	</tr>
						</table>

						<table>
							<tr>
								<td>
									<%=f.label :essentials%><%=Listing.display_fa_icon(:essentials)%> <%=f.check_box :has_essentials%>
								</td>

						        <td>
						        	<%=f.label :airconditioner%><%=Listing.display_fa_icon(:airconditioner)%> <%=f.check_box :has_airconditioner%>
						        </td>

						        <td>
						        	<%=f.label :laundry%><%=Listing.display_fa_icon(:washer_dryer)%> <%=f.check_box :has_washer_dryer%>
						        </td>

						        <td>
						        	<%=f.label :television%><%=Listing.display_fa_icon(:television)%> <%=f.check_box :has_television%>
						        </td>

						        <td>
						        	<%=f.label :fireplace%><%=Listing.display_fa_icon(:fireplace)%> <%=f.check_box :has_fireplace%>
						        </td>
							</tr>
							<tr>
						        <td>
						        	<%=f.label :wifi%><%=Listing.display_fa_icon(:wifi)%> <%=f.check_box :has_wifi%>
						        </td>

						        <td>
						        	<%=f.label :hot_water%><%=Listing.display_fa_icon(:hot_water)%> <%=f.check_box :has_hot_water%>
						        </td>

						        <td>
						        	<%=f.label :kitchen%><%=Listing.display_fa_icon(:kitchen)%> <%=f.check_box :has_kitchen%>
						        </td>

						        <td>
						        	<%=f.label :heating%><%=Listing.display_fa_icon(:heating)%> <%=f.check_box :has_heating%>
						        </td>

						        <td>
						        	<%=f.label :living_room%><%=Listing.display_fa_icon(:living_room)%> <%=f.check_box :has_living_room%>
						        </td>
							</tr>

							<tr>
								<td colspan=5 class=centered><%=f.submit "Search!"%></td>
							</tr>
						</table>