<!DOCTYPE html>
<html>
  <head>
    <title>Pairbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!--(Above) Font Awesome CDN, (Below) Bootstrap CDN-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </head>

  <body>
  <!-- START NAV BAR -->
    <nav class="container-fluid">
      <div class="row">

        <!--Logo that links to homepage-->
        <div class="col-1" id="logo">
          <%= link_to root_path do%>
            <i class="fas fa-home"></i>
          <% end %>
        </div>
        
        <div class="col-10">
          This is the buggy demo version. For a functional swag web app, please hire me.
        </div>
        <!--Signin, signout, profile things-->
        <div class="col text-right" id="navbar-controls">
          <% if signed_in? %>

            <%if (current_user.avatar == nil)%>
              <%= link_to image_tag("question-mark.jpg", class: "navbar-avatar"), user_path(current_user.id) %>&nbsp;
            <% else %>
              <%= link_to image_tag(current_user.avatar.avatar_image.navbar_size.url, class: "navbar-avatar"), user_path(current_user.id) %>&nbsp;
            <% end %>

            <%= link_to sign_out_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>

          <% else %>

            <!--Show the Login Button-->
            <%= link_to sign_in_path do %>
              <i class="fas fa-sign-in-alt"></i>
            <% end %>
          <% end %>
        </div>

      </div>
    </nav>
  <!-- END NAV BAR -->
  
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>

  <!--Activating all tooltips-->
  <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
  </script>
  
  </body>
</html>
